<div class="album py-5 bg-light mt-5">
  <div class="container">
<div class="card">

  <h5 class="card-header info-color white-text text-center py-4">
    <strong>Log in</strong>
  </h5>


  <div class="card-body px-lg-5 pt-0">


    <form #newForm="ngForm" class="text-center" style="color: #757575;">


      <div class="md-form">
        <input type="email" id="materialLoginFormEmail" class="form-control" placeholder="Почта" name="email" ngModel required #email="ngModel" email>
        <span *ngIf="email.invalid && email.touched" class="error">Email is important!</span>
        <!--        <label  for="materialLoginFormEmail"></label>-->
      </div>


      <div class="md-form">
        <input type="password" id="materialLoginFormPassword" class="form-control" placeholder="Пароль" name="password" #password="ngModel" required ngModel>
        <span *ngIf="password.invalid && password.touched" class="error"></span>
      </div>

      <div class="d-flex justify-content-around">
        <div>

          <div class="form-check">
            <input type="checkbox" class="form-check-input" id="materialLoginFormRemember">
            <label class="form-check-label" for="materialLoginFormRemember">Remember</label>
          </div>
        </div>
        <div>

          <a href="/restore">Forgot password?</a>
        </div>
      </div>


      <button class="btn btn-outline-info btn-rounded btn-block my-4 waves-effect z-depth-0" type="submit">Log in</button>


      <p>You don't have account?
        <a href="/reg">Registration</a>
      </p>


      <p>log in with:</p>
      <a type="button" class="btn-floating btn-fb btn-sm">
        <i class="fab fa-facebook-f"></i>
      </a>
      <a type="button" class="btn-floating btn-tw btn-sm">
        <i class="fab fa-twitter"></i>
      </a>
      <a type="button" class="btn-floating btn-li btn-sm">
        <i class="fab fa-linkedin-in"></i>
      </a>
      <a type="button" class="btn-floating btn-git btn-sm">
        <i class="fab fa-github"></i>
      </a>

    </form>


  </div>

</div>

</div>
</div>
